body
  background: url(/images/bg.jpg)    // 圖片路徑
  background-repeat: no-repeat       // 不重複
  background-attachment: fixed       // 固定背景
  background-size: cover             // 將背景圖片放大至容器大小
  background-position: 50% 50%       // 背景位置置中
